canvas {
    margin: 0;
    padding: 0;
    z-index: 10;
  
  }
  
  body {
    overflow: hidden;
    font-family: monospace, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
  }
  
  #bg1, #bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 6s ease-in-out;
  }
  
  #bg1 {
    opacity: 0.8;
    z-index: 1;
  }
  
  #bg2 {
    opacity: 0;
    z-index: 2;
  }
