body, html {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;

  margin: 0;
  display: flex;
}
canvas {
    margin: 0;
    padding: 0;
    z-index: 5;
  
}


  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -10;
  }
  
  #bg1, #bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 6s ease-in-out;
  }
  
  #bg1 {
    opacity: 0.8;
    z-index: 1;
  }
  
  #bg2 {
    opacity: 0;
    z-index: 2;
  }
  .button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    font-size: 28px;
    font-style: bold;
    color: rgb(18, 15, 15);
    background: rgb(121, 3, 52);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0.6;
  }

  


  